<div class="slider-area ">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>Admin Dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="login_box_area section_gap" style="margin-top: 150px;">
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-students-tab" data-bs-toggle="tab" data-bs-target="#nav-students" type="button" role="tab" aria-controls="nav-students" aria-selected="true">students</button>
              <button class="nav-link" id="nav-products-tab" data-bs-toggle="tab" data-bs-target="#nav-teachers" type="button" role="tab" aria-controls="nav-products" aria-selected="false">teachers</button>
              <button class="nav-link" id="nav-products-tab" data-bs-toggle="tab" data-bs-target="#nav-trainings" type="button" role="tab" aria-controls="nav-products" aria-selected="false">trainings</button>
              <button class="nav-link" id="nav-products-tab" data-bs-toggle="tab" data-bs-target="#nav-categories" type="button" role="tab" aria-controls="nav-categories" aria-selected="false">categories</button>
              <button class="nav-link" id="nav-products-tab" data-bs-toggle="tab" data-bs-target="#nav-contacts" type="button" role="tab" aria-controls="nav-contacts" aria-selected="false">contacts</button>
              <button class="nav-link" id="nav-products-tab" data-bs-toggle="tab" data-bs-target="#nav-sessions" type="button" role="tab" aria-controls="nav-sessions" aria-selected="false">sessions</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-students" role="tabpanel" aria-labelledby="nav-students-tab">
          
                  <div >
                   <app-admin-students></app-admin-students>
                  </div>
                  <div > 

                </div>
            </div>
            <div class="tab-pane fade" id="nav-teachers" role="tabpanel" aria-labelledby="nav-teachers-tab">

                <div >
                <app-admin-teachers></app-admin-teachers>
                    
                </div>
                <div > 

                </div>
            </div>
            <div class="tab-pane fade" id="nav-trainings" role="tabpanel" aria-labelledby="nav-trainings-tab">

                <div>
                <app-admin-trainings></app-admin-trainings>
                </div>
                <div > 

                </div>
            </div>
            <div class="tab-pane fade" id="nav-categories" role="tabpanel" aria-labelledby="nav-categories-tab">

                <div>
                <app-admin-categories></app-admin-categories>
                </div>
                <div > 

                </div>
            </div>
            <div class="tab-pane fade" id="nav-contacts" role="tabpanel" aria-labelledby="nav-contacts-tab">

                <div>
                <app-admin-contacts></app-admin-contacts>
                </div>
                <div > 

                </div>
            </div>
            <div class="tab-pane fade" id="nav-sessions" role="tabpanel" aria-labelledby="nav-sessions-tab">

                <div>
                <app-admin-sessions></app-admin-sessions>
                </div>
                <div > 

                </div>
            </div>
          </div>
        
    </div>


</section>