<div class="slider-area ">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2> Creat an account </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-12">
        <h2 class="contact-title">user :</h2>
    </div>
    <div class="col-lg-8">
        <form class="form-contact contact_form" style="padding-left: 150px;" [formGroup]="signupForm">
            <div class="row">
                <div class="col-12">
                 
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your  first name'" placeholder="Enter your first name" formControlName="firstName">
                    </div>
                    <div *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty)">
                        <div *ngIf="signupForm.controls['firstName'].errors.required" style="color: red;">
                           this field is required ! 
                        </div>
                        <div *ngIf="signupForm.controls['firstName'].errors.minlength" style="color: red;">
                            firs Name must have at least 4 caracters !
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your last name'" placeholder="Enter your last name" formControlName="lastName">
                    </div>
                    <div *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched || signupForm.controls['lastName'].dirty )">
                        <div *ngIf="signupForm.controls['lastName'].errors.rquired" style="color: red;">
                            this Field is required !
                            
                        </div>
                        <div *ngIf="signupForm.controls['lastName'].errors.minlength" style="color: red;">
                            last Name must have at least 4 caracters !
                            
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Enter email address" formControlName="email">
                    </div>
                    <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">
                       <div *ngIf="signupForm.controls['email'].errors.required" style="color: red;">
                           this Field is required !
                       </div> 
                       <div *ngIf="signupForm.controls['email'].errors.email" style="color:red;">  
                           invalid Email  !
                       </div>
                    </div>
                </div>
                <div class="col-sm-12">

                <div class="form-group">
                    <input class="form-control valid" name="pwd" id="pwd" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your password '" placeholder="Enter your password" formControlName="pwd">
                </div>
                <div *ngIf="signupForm.controls['pwd'].invalid && (signupForm.controls['pwd'].touched || signupForm.controls['pwd'].dirty)">
                  <div *ngIf="signupForm.controls['pwd'].errors.required" style="color: red;">
                      this field is required !


                  </div> 
                  <div *ngIf="signupForm.controls['pwd'].errors.minlength" style="color: red;">
                    your password must have at least 8 caracters !
                   

                </div> 
            </div>
        </div>
            <div class="col-sm-12">

                <div class="form-group">
                    <input class="form-control valid" name="confirmPwd" id="confirmPwd" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'confirm PassWord'" placeholder="confirm Password" formControlName="confirmPwd">
                </div>
            </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input class="form-control valid" name="name" id="name" type="tel" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your phone number'" placeholder="Enter your phone number" formControlName="phone">
                    </div>
                    <div *ngIf="signupForm.controls['phone'].invalid && (signupForm.controls['phone'].touched || signupForm.controls['phone'].dirty)">
                     <div *ngIf="signupForm.controls['phone'].errors.required" style="color: red;">
                         this Fields is required !
                         
                     </div>
                     <div *ngIf="signupForm.controls['phone'].errors.minlength" style="color: red;">
                         invalid phone number !
                         
                     </div>
                     <div *ngIf="signupForm.controls['phone'].errors.maxlength" style="color: red;"> 
                         invalid phone Number !
                     </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your address'" placeholder="Enter your address" formControlName="address">
                    </div>
                    <div *ngIf="signupForm.controls['address'].invalid && signupForm.controls['address'].touched">
                        <div *ngIf="signupForm.controls['address'].errors.required" style="color: red;">
                            this field is required !
                        </div>
                    </div>
                </div>
             
        
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="button button-contactForm boxed-btn" (click)="signup()">signup</button>
            </div>
        </form>
    </div>
    <div class="col-lg-3 offset-lg-1">
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
                <h3>Buttonwood, California.</h3>
                <p>Rosemead, CA 91770</p>
            </div>
        </div>
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
                <h3>+1 253 565 2365</h3>
                <p>Mon to Fri 9am to 6pm</p>
            </div>
        </div>
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
                <h3>support@colorlib.com</h3>
                <p>Send us your query anytime!</p>
            </div>
        </div>
    </div>
</div>

