    <!--? Hero Start -->
    <div class="slider-area ">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2> display teacher</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="categories-area section-padding" >
<div class="team-area pt-160 pb-160 section-bg"  >
    <div class="container" style="background-color: rgb(11, 36, 109);">
        <div class="row justify-content-center"  >
            <div class="cl-xl-7 col-lg-8 col-md-10" >
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 text-center mb-70">
                 
                    <h2>Our Best Teachers</h2>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" style="margin-left: 400px;">
                <div class="single-team mb-30" style="width: 150%;">
                    <div class="team-img">
                        <img src="assets/img/gallery/team1.png" alt="">
                        <!-- Blog Social -->
                        <ul class="team-social" >
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fas fa-globe"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-caption">
                        <h3><a href="instructor.html">{{searchedTeacher?.firstName}} {{searchedTeacher.lastName}}</a></h3>
                        <p>{{searchedTeacher.subject}}</p>
                        <ul class="blog-info-link" style="padding-left: 50px;">
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> {{searchedTeacher.phone}}</a></li>
                            <li><a href="#"><i class="far fa-envelope"></i> {{searchedTeacher.email}} </a></li>
                        </ul>

                    </div>
                </div>
            </div>
          
       
        </div>
        <!-- Section Button -->
        <div class="row">
            <div class="col-lg-12">
                <div class="browse-btn2 text-center mt-70">
                    <a href="instructor.html" class="btn white-btn">View All Faculty</a>
                </div>
            </div>
        </div>
    </div>
</div>
